{% extends "HeaderDashboardEst.html" %}
{% block title %}Postular a {{ vacante.titulo }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Formulario de Postulación para "{{ vacante.titulo }}"</h2>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Enviar Postulación</button>
        <a href="{% url 'vacantes:vacante_publica_lista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
