{% extends 'base.html' %}

{% block content %}
    <div class="container my-4">
        <h1 class="mb-4">{{ vacante.titulo }}</h1>
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-subtitle mb-3 text-muted">Empresa: {{ vacante.empresa.nombre_empresa }}</h5>

                <p class="card-text"><strong>Descripción:</strong></p>
                <p class="card-text">{{ vacancy.description|linebreaksbr }}</p>

                <p class="card-text"><strong>Requisitos:</strong></p>
                <p class="card-text">{{ vacante.requerimientos|linebreaksbr }}</p>

                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item"><strong>Ubicación:</strong> {{ vacante.ubicacion }}</li>
                    {% if vacante.rango_salario %}
                        <li class="list-group-item"><strong>Rango Salarial:</strong> {{ vacante.rango_salario }}</li>
                    {% endif %}
                    <li class="list-group-item"><strong>Publicado el:</strong> {{ vacante.fecha_publicada|date:"d M, Y H:i" }}</li>
                    <li class="list-group-item"><strong>Fecha Límite:</strong> {{ vacante.fecha_limite|date:"d M, Y" }}</li>
                    <li class="list-group-item"><strong>Estado:</strong> 
                        {% if vacante.activo %}
                            <span class="badge bg-success text-white">Activa</span>
                        {% else %}
                            <span class="badge bg-secondary text-white">Inactiva</span>
                        {% endif %}
                    </li>
                </ul>

                <div class="mt-4">
                    <a href="{% url 'vacantes:actualizar_vacante' vacante.pk %}" class="btn btn-warning me-2">Editar Vacante</a>
                    <a href="{% url 'vacantes:eliminar_vacante' vacante.pk %}" class="btn btn-danger me-2">Eliminar Vacante</a>
                    <a href="{% url 'vacantes:vacante_empresa_lista' %}" class="btn btn-secondary">Volver a Mis Vacantes</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}